.mySwiper {
  --swiper-theme-color: #ffba08;

  .swiper-pagination-bullet {
    @media (max-width: 500px) {
      width: 8px;
      height: 8px;
    }
    width: 16px;
    height: 16px;

    --swiper-pagination-bullet-inactive-color: #999999;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 6vw;

    @media (max-width: 500px) {
      --swiper-navigation-size: 22px;
    }

    --swiper-navigation-size: 36px;
  }
}
