.mySwiper {
  --swiper-theme-color: #ffba08;

  .swiper-pagination-bullet {
    @media (max-width: 500px) {
      width: 8px;
      height: 8px;
    }
    width: 16px;
    height: 16px;

    --swiper-pagination-bullet-inactive-color: #999999;
  }
}
